.git
.github

venv
__pycache__
**/__pycache__/
**/*.pyc

datasets
results

# jangan ikutkan model besar di build context
models
/data
*.tar.gz
*.zip
*.safetensors
*.bin
*.pt

# kalau ada node deps
frontend/node_modules
